body 
* {
	box-sizing: border-box;
  }

body {
  margin: 0;
}


.header {
   background-image: url("https://media.istockphoto.com/id/1132077472/photo/abstract-blurred-public-library-interior-space-blurry-room-with-bookshelves-by-defocused.jpg?s=612x612&w=0&k=20&c=EfmA_5vQJA4Qsh9WtR9zAvhp8cRhPtygYHQH2gTVuHg=");
   background-repeat: no-repeat;
    background-size: 2000px 300px; 
  padding: 40px;
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    background: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    gap: 20px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 80%;
    border-radius: 8px;
}

.details {
    flex: 2;
}

.details h1 {
    margin-top: 0;
}

.price {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

.description {
    margin-bottom: 20px;
}

.actions {
    display: flex;
    gap: 10px;
}

.button {
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buy-now {
    background-color: #28a745;
    color: white;
}

.buy-now:hover {
    background-color: #218838;
}


.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

#cart {
    list-style-type: none;
    padding: 0;
}
